body {
  background: #e3e8ec url(../images/tile.png) repeat 50% 0;
}

#photos-wrap {
  width: 100%;
  position: relative;
  z-index: 1;
}

.photo .avatar {
  width: 40px;
  display:none;
  height: 40px;
  padding: 2px;
  position: absolute;
  bottom: 11px;
  right: 8px;
  background: white;
}

.photo  {
  margin-bottom: 5px;
  float: left;
  position: relative;
  width: 17%;
  height: 17%;
  border-radius: 5px;
  background: white;
  padding: 2px;
  margin: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#logo-photo{
  background:url(../images/logo.png);
}

.photo .heart {
  height: 16px;
  position: absolute;
  left: 13px;
  bottom: 16px;
  padding: 0 5px 0 22px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: white url('../images/fav.png') no-repeat 2px 0;
}


